.login {
    overflow: hidden;
}

.login .logo svg {
    width: 170px;
}

.background {
    position: absolute;
    top:0;
    left:0;
    z-index: -999 ;
    filter: brightness(0.5);
}

.background img {
    height: 1106px;

}

.login .logo {
    fill:#e50914;
}

/* for X-Small devices */
@media (max-width: 575.98px) {
    .login .logo svg {
        width: 120px;
    }

    .login .background img {
        height: 1113px;
    
    }

    .login .login-form {
        height: 823px;
    }
}

/* for Small devices */
@media (min-width: 576px) and (max-width: 767.98px) {
    .login .background img {
        height: 762px;
    
    }

    .login .login-form {
        height: 838px;
    }
}

/* for Medium devices */
@media (min-width: 768px) and (max-width: 991.98px) {
    .login .background img {
        height: 1136px;
    
    }

    .login .login-form {
        height: 832px;
    }
}

/* for Large devices */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .login .background img {
        height: 1365px;
    
    }

    .login .login-form {
        height: 1084px;
    }
}

/* for X-Large devices */
@media (min-width: 1200px) {
    .login .background img {
        height: 1106px; 
    }

    .login .login-form {
        height: 824px;
    }
}